In [3]:
#python input and output statements

#input statement
name = input("Enter your name: ")


#output statement with arguments
print("Hello",name, end="!\n")

Hello venu!

In [ ]:
# python data types

int_number=76
float_number=12.34
complex_number=2+4j
string="johny"
boolean=True
sample_list=[13,14,15,16,17]
sample_tuple=("car","bike","truck","machine")
sample_dict=("Name":"Virat Kohli","age":36)
sample_set={1,2,3,4,5,6,7}

In [5]:
# Expressions and operators
a=7
b=3

#arithmetic operators

#addition
print(a+b)
#subtraction
print(a-b)
#multiplication
print(a*b)
#division
print(a/b)
#exponentionl
print(a**b)
#floor division
print(a//b)
#modulus
print(a%b)


#Comparision operator

#equal to
print(a == b)
#Not equal to
print(a != b)
# Greater than
print(a > b)  
# Less than
print(a < b)  
# Greater than or equal to
print(a >= b)
# Less than or equal to
print(a <= b)

# Logical Operators
# and: True if both condition are true else false
print(a > 5 and b < 5)  
# or: True if any contition is satisfy else false
print(a > 5 or b < 1) 
# not: negates the condition 
print(not(a > 5 and b < 5))

10
4
21
2.3333333333333335
343
2
1
False
True
True
False
True
False
True
True
False

In [7]:
#Type Casting

# converting float to integer
int_from_float = int(9.74)
print(int_from_float)

#converting float to integer
float_from_int = float(192)
print(float_from_int)

#converting integer to string
string_from_int = str(55)
print(string_from_int)

#converting string to list
list_from_string = list("MOKSH")
print(list_from_string)

#converting list to tuple
tuple_from_list = tuple([1,2,3,4,5])
print(tuple_from_list)

#converting list to set
set_from_list = set([1, 2, 3, 4, 5])
print(set_from_list)

9
192.0
55
['M', 'O', 'K', 'S', 'H']
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [8]:
# Conditional Statements

a=11
b=5

if a>b:
    print(f"{a} is greater than {b}")
    
elif a<b:
    print(f"{a} is less than {b}")
    
else:
    print(f"{a} is equal to {b}")

11 is greater than 5

In [12]:
# Looping Statements

# For Loop

vehicles = ["car","bike","bicycle","truck"]
for x in vehicles:
    print(x)
    
# While Loop

count = 0
while count < 8:
    print(count)
    count += 1

car
bike
bicycle
truck
0
1
2
3
4
5
6
7

In [14]:
# Jumping Statements

# Break statement
for i in range(15):
    if i == 7:
        break
    print(i)
    
# Continue Statement
for i in range(15):
    if i == 11:
        continue
    print(i)

0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
8
9
10
12
13
14

In [15]:
# Special Functions

car_name = ["maruthi","mahindra","tata"]

#length
print(len(car_name))

#id
print(id(car_name))

# data type
print(type(car_name))


# Range

for i in range(7):
    print(i)

3
2710803897472
<class 'list'>
0
1
2
3
4
5
6

In [17]:
#Function definition with parameter 'name'
def greet(name):
    """This function prints a greeting message."""
    print("Hello", name + "!")

# Function call with argument 'Alice'
greet("moksha")

Hello moksha!

In [18]:
# Area of rectangle
def calculate_area(length,width):
    return length * width

area = calculate_area(4,5)
print(area)

20

In [20]:
# Calculate avg of numbers
def calculate_average(*numbers):
    if len(numbers) == 0:
        print("Atleast provide one number")
        return
    return sum(numbers) / len(numbers)
average = calculate_average(10,20,30,40) # output should be 25
print(average)

calculate_average()

25.0
Atleast provide one number

In [21]:
#lambda Function 
lambda arguments : expression #syntax

# simple addition in lambda function
add = lambda x, y: x + y
result = add(4, 6)
print(result)  

# string formating 
greeting = lambda name: f"Hello, {name}!"
print(greeting("Latha"))

#sorting a list based on lengh 
words = ["venu", "vijay", "ashwith", "vamshi"]
sorted_words = sorted(words, key=lambda word: len(word))

print(sorted_words)  # Output: ['grapes', 'apple', 'mango', 'banana']

10
Hello, Latha!
['venu', 'vijay', 'vamshi', 'ashwith']

In [23]:
# Map
numbers = [5,6,7,8,9]

# Squaring each number 
squared_numbers = map(lambda x: x * x, numbers)

# map() returns an iterator, convert it to a list for printing
print(list(squared_numbers))  # Output: [25,36,49,64,81]

[25, 36, 49, 64, 81]

In [24]:
# Filter
numbers = [1,2,3,4,5,6,7,8,9,10]

even_numbers=filter(lambda x : x%2 == 0, numbers)

print(list(even_numbers))

[2, 4, 6, 8, 10]

In [25]:
# Reduce
from functools import reduce #necessary to import reduce

numbers = [3,4,5,6,]

product = reduce(lambda x,y:x*y,numbers)

print(product)

# Another approach
product = 1
for num in numbers:
    product *= num
    
print(product)

360
360

In [26]:
# Return function
def square(x):
    # this function is used to sq the number
    return x * x

result = square(4)
print(result)

16

In [27]:
#local and global variable

x = 10  # Global variable

def my_function():
  y = 20  # Local variable
  print("Inside function:", x, y)  # Accessing both global and local variables

  def inner_function():
    z = 30  # Local variable within inner_function
    print("Inside inner function:", x, y, z)  # Accessing global, local (outer), and local (inner) variables

  inner_function()  # Calling inner_function

print("Outside function:", x)  # Accessing only the global variable

my_function()

Outside function: 10
Inside function: 10 20
Inside inner function: 10 20 30